body {
    font-family: Arial, sans-serif;
}

.product {
    display: flex;
    align-items: center;
    padding: 20px;
}

.product-image {
    width: 100px;
    margin-right: 20px;
}

.product-details h2, .product-details .price {
    margin: 0;
    padding: 0;
}

.basket, .basket-overview {
    position: fixed;
    right: 20px;
    top: 20px;
}

.basket-overview {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.basket-overview.hidden {
    display: none;
}

.basket-overview.visible {
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}
